includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app
        - bootstrap
        - config
        - routes
        - tests/Fixtures/Models
    tmpDir: storage/framework/cache/phpstan
